:root {
    --one: #2A9D8F;
    --two: #13293D;
    --three: #EFEA5A;
    --four: #DE3C4B;
    --transition-one-delay: 0.4s;
    --transition-two-delay: 0.9s;
}

.About-me {
    width: 80%;
    height: 1200px;
    margin: 350px auto;
}
.About-me h2{
    transition: line-height 0.4s;
    transition-timing-function: cubic-bezier( 0.31, 0.03, 0.21, 0.97 );
    transition-delay: var(--transition-one-delay);
    line-height: 8;
}
.show-about-me h2 {line-height: 1;}
.Who-am-I-container{height: 430px;}
.Who-am-I-group{
    margin: 150px 100px;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height:0;
    opacity: 0;
    transform: translateY(200px)
}
.Who-am-I-group div { flex-grow: 1;}
.show-about-me .Who-am-I-group {  
    transition: height 0.4s, opacity 0.4s, transform 0.4s;
    transition-delay: var(--transition-two-delay);
    transition-timing-function: cubic-bezier( 0.31, 0.03, 0.21, 0.97 );
    height: 100%;
    opacity: 1;
    transform: translateY(0)
}
.Who-am-I-group img{
    width: 210px;
    height: auto;
    border-radius: 50%;
    padding-top: 1px;
    display: block;
    border-style: solid;
    border-width: 20px;
    border-color: #EDF6F9;
    margin: 0 auto;
}
.Who-am-I-group ul {
    flex-grow: 3;
}
.Who-am-I-group p {
    border-width: 5px;
    margin: 0;;
    margin-left: 60px;
    color: #676767;
    border-left: solid;
    border-color: var(--one);
    padding-left: 20px;
}
.about-me-icon-group {
    margin:200px auto 0 0;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    padding: 0;
    grid-gap: 100px;
    height: 400px;
}
.about-me-icon-group ul {
    width: 300px;
    height: 0;
    height:0;
    opacity: 0;
    transform: translateY(100px);
    padding: 0;
}
.show-about-me .about-me-icon-group ul {
    transition: height 0.4s, opacity 0.4s, transform 0.4s;
    transition-delay: var(--transition-two-delay);
    transition-timing-function: cubic-bezier( 0.31, 0.03, 0.21, 0.97 );
    height: 100%;
    opacity: 1;
    transform: translateY(0)
}
.about-me-icon-group p {
    text-align: center;
    color: #676767;
    max-width: 200px;
    margin: 20px auto;

}
.about-me-icon {
    background-color: var(--one);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    grid-template-columns: repeat(1, auto);
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.about-me-icon svg{
    height: 55px; 
    width: 55px;
    display: block;
    color: white;
}
@media(max-width:1200px) {
    .about-me-icon-group {
        grid-gap: 0;
    }
}
@media(max-width:1000px) {
    .show-about-me{margin: 300px auto 150px; width: 100%; height:1300px;}
    .show-about-me p {margin-left:10px; margin-top: 50px;}
    .Who-am-I-group {
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    .Who-am-I-group div {height:130px; width: 100%;}
    .Who-am-I-container {
        height:600px;
        width: 100%;
    }
    .Who-am-I-group img{
        border-radius: 50%;
        height: 70%;
        width: auto;
    }
    .about-me-icon-group {
        margin: 0 auto;  
        /*grid-template-columns: repeat(1, auto); */
        grid-template-columns: repeat(1, 0.8fr);
        display: grid;
        grid-column-gap: 0px;
        height: 600px;
        width: 100%;
    }
    .about-me-icon-group ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: left;
        margin: 0 10px;
    }
    .about-me-icon-group p {
        order: 2;
        margin: 0 20px;
        text-align: left;
        max-width: 300px;
        font-size: 20px;

    }
    .about-me-icon {
        margin: 0;
        width: 60px;
        height: 60px;
    }
    .about-me-icon svg {width: 40px;}
    .reverse p {order: -1; color: #676767; text-align: right;} 
    ul.reverse { 
        justify-content: flex-end;
    }    
}
@media(max-width:550px) {
    .about-me-icon-group p {font-size: 16px; max-width: 170px;}
    .about-me-icon-group {
        grid-template-columns: repeat(1, 0.9fr);
    }
    .about-me-icon svg {width: 30px;}
    .about-me-icon {
        margin: 0;
        width: 50px;
        height: 50px;
    }
}
@media(max-width:400px) {
    .about-me-icon-group{margin-top: 20px;}
    .Who-am-I-container{ height: 700px;}
}
