html{
    scroll-behavior: smooth;
}
.sidebar {
    height: 100vh;
    width: 100px;
    position: fixed;
    margin: 0 0 0 40px;
    align-items: center;
    opacity: 0;
    z-index: 100;
    visibility: hidden;
    display:flex;
    transition: visability 0.4s;
}
.sidebar-group {
    display: grid;
    transition: opacity 0.4s, width 0.4s, height 0.4s;
    transition-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
    background-color: var(--two);
    grid-template-columns: repeat(1, auto);
    align-items: center;
    border-radius: 4px;
    opacity: 0;
    height: 0;
    width: 0;
}
.sidebar a {
    color: white; 
    text-decoration: none; 
    text-align: center; 
    height: 100%; 
    line-height: 5;
    font-size: 16px;
}
.sidebar-show {opacity: 0.9; visibility: visible;}
.sidebar-show a {transition: color 0.2s;}
.sidebar-show a:hover{color: var(--three);}
.sidebar-show ul {
    opacity: 1;
    width: 100%;
    height: 400px;
}
.is-current {
    background-color: var(--one);
    opacity: 1;
}
@media(max-width:1000px){
    .sidebar {
        width: 100%;
        height: 80px;
        margin: 0 auto;
    }
    .sidebar ul {
        opacity: 1;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(4, auto); 
        border-radius: 0;
    }
    .sidebar a {font-size: 16px;}
}
@media(max-width:600px){
    .sidebar a {font-size: 13px;}
}
